<!-- </div> -->
<section id="main-slider" class="no-margin">
    <div class="carousel slide wet-asphalt">
        <div class="item active" style="background-image: url(images/defesa-do-guarda-redes.jpg)">
        </div>
    </div>
</section><!--/#main-slider-->

<section id="services" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-ball icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Facilidade</h3>
                        <p>Agilidade e simplicidade na hora de organizar os rachas com a rapaziada!</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-ball icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Segurança</h3>
                        <p>Não se preocupe com intrusos indesejáceis.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-ball icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Comodidade</h3>
                        <p>Faça tudo da sua casa, sem nenhum grande esforço.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div>
    </div>
</section><!--/#services-->
