<section id="services">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="center gap">
                     <h2>What we do</h2>
                     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                 </div>
             </div>
         </div>
         
         <div class="row">
          <% @events.each do |event|%>
          <% i=0%>
             <div class="col-md-4 col-sm-6">
                 <div class="media">
                   <div class="pull-left">
                         <i class="glyphicon glyphicon-off icon-md"></i>
                   </div>
                     <div class="media-body">

                         <h3 class="media-heading"><%=link_to("#{event.name.capitalize}",event)%></h3>
                         <p>Data: <%=event.date.to_formatted_s(:short) %>
                            às <%=event.hour.to_formatted_s(:time)%>
                            <%=link_to 'Cadastrar',"/subscribe/#{event.id}", method: :put %>
                         </p>
                     </div>
                 </div>
             </div><!--/.col-md-4-->
             <% i+=1%>
               <% if i==3%>
                </div><!--/.row-->
                 <div class="gap"></div>
               <%i=0%>
             <% end %>
         <%end%>
     </div>
 </section>

 <hr>
